.botton-box-bwr{
  text-align: center;
  padding: 15 0 30 0;
}

.botton-bwr{
  height: 30px;
  font-size: 16px;
  color: #FFF !important;
  background-color: #1D93E9;
  padding: 10 25 10 25;
  border-radius: 5px;
}
