.flex-box{
  display: flex;
  justify-content: space-between;
}

.evaluation_value{
  font-size: 15px;
  color: #1d93e9;
}

.nav-link{
  color: #166c9d;
  display: inline-block;
  padding: 0 !important;
}

.sizeup{
  font-size: 16px;
}

.review-item{
  display: inline-block;
  margin: 25 25 0 0;
  min-width: 175px;
}
