/*横幅は1080px*/
.gray-block-nd{
  height: 170px;
  width: 100%;
  padding: 50 0 0 10%;
}

.total-evaluation-nd{
  width: 100%;
  min-height: 750px;
  background-color: #FFF;
  padding: 100 0 0 0;
  font-size: 18px;
  text-align: center;
}

.each-evaluation-nd{
  width: 1080px;
  margin: 0 auto 50 auto;
  padding-bottom: 50;
  line-height: 2;
  border-bottom: 2px solid #EEEEEE;
}
