
.botton_add_reviews{
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: #FFF;
  background-color: #1D93E9;
  padding: 10px 25 0 25;
  border-radius: 5px;
  margin-top: -40;
  right: 10%;
  position: absolute;
}
