/*横幅は1080px*/
h3 {
  font-weight: bold !important;
}

.gray-block{
  height: 170px;
  width: 100%;
  padding: 50 0 0 10%;
}

.total-evaluation{
  background-color: #f8f9fa;
  padding: 75 0 150 0;
}

.font-weight-bold{
  font-weight: bold;
  letter-spacing: 0.1em;
}

.search-result{
  padding-left: 10%;
  margin-bottom: 50px;
}

@media screen and (max-width:768px) {
/*　画面サイズが768px以下はここを読み込む　*/
h1, h2, h3, h4, h5, h6{
  letter-spacing: 0;
}

.total-evaluation{
  width: 100%;
  overflow-x: hidden;
  padding: 25 0 0 0;
}

.gray-block{
  height: 170px;
  text-align: center;
  padding-left: 0;
}
.gray-block h3{
  font-size: 1.4rem;
}

.search-result{
  font-size: 1.0rem;
  padding-left: 5%;
  margin-bottom: 25px;
}

}
