/*横幅は1080px*/

h3 {
  font-weight: bold !important;
}

.gray-block{
  height: 170px;
  width: 100%;
  padding: 50 0 0 10%;
}

.total-evaluation{
  background-color: #FFF;
  padding: 75 0 150 0;

}

.search-result{
  padding-left: 10%;
  margin-bottom: 50px;
}

.each-evaluation{
  width: 1080px;
  border: 1px solid #d2d2d2;
  margin: 0 auto 60 auto;
}

.top{
  background-color: #EEEEEE;
  display: flex;
}

.faculty-logo{
  height: 225px;
  width: 200px;
  text-align: center;
}

.faculty-logo img{
  margin: 50 0 10 0;
}

.faculty-name{
  font-size: 18px;
}

.right-block{
  width: 100%;
  padding: 50 50 0 0;
}

.right-block a{
  color: #166c9d;
  font-weight: bold;
}

.details{
  padding: 25 0 0 50;
}
