/*横幅は1080px*/
h3 {
  font-weight: bold !important;
}

.gray-block{
  height: 100px;
  width: 100%;
  padding: 50 0 0 10%;
}

.main{
  background-color: #f8f9fa;
  min-height: 750px;
  padding: 75 0 150 0;
}

.main-inbox{
  width: 1080px;
  margin: 0 auto 60 auto;
}

.step{
  margin-bottom: 50;
}

.step h4{
  color: #1D93E9 !important;
  font-size: 24px;
  font-weight: bold;
}

.content-message{
  height: 40px;
  font-size: 18;
}

.content-title{
  padding-left: 15;
}

.right-block{
  padding:0 20 0 20;
}

.policy-check{
  margin: 25 0;
}
.policy-check a{
  color: #166c9d;
}

.next-button{
  text-align: center;
  padding-top: 150;
}

.next-button button{
  padding: 7.5 75 7.5 75;
  font-size: 18px;
  font-weight: bold;
}


@media screen and (max-width:768px) {
/*　画面サイズが768px以下はここを読み込む　*/
h1, h2, h3, h4, h5, h6{
  letter-spacing: 0;
}

.gray-block{
    height: 120px;
}

.main{
  width: 100%;
  padding: 25 0 0 0;
}

.main-inbox{
  width: 90%;
}

.content-message{
  font-size: 0.9rem;
}

table{
  width: 100%;
}
}
