h2 {
  font-weight: bold !important;
}

.gray-block{
  height: 170px;
  width: 100%;
  padding: 50 0 0 10%;
}

.main{
  margin: 0 auto;
  width: 1080px;
}

.content{
  width: 70%;
  padding: 10 0;
  margin: 25 0 100 0;
  border: 1px solid #555;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

table{
  font-size: 16px;
  width: 70%;
  margin: 50 0;
  text-align: center;
}
table tr{
  width: 100%;
}
table th{
  width: 30%;
}
table th{
  padding: 10 0;
}
